h1, h2 {
font-family: 'Telex', sans-serif;
}
h1 {
    margin: 10px auto 10px auto;
}
h2 {
    margin: 10px auto 10px 30px;
}
#projects, #filters,
#map img{
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid gray;
}
#projects, #filters {
    background-color:white;
    width: 200px;
}
#projects ul li,
#filters ul li {
    list-style-type: none;
    margin: 0.2em 0 0.2em 0;
}
#projects ul li a,
#filters ul li a{
    display: block;
    width: 120px;
    height: 20px;
}
